body * {
   width: 100%;
   box-sizing: border-box;
}
body {
   margin: 25px;
   font-family: 'Arial';
}
.container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 5fr 5fr;

   grid-template-areas:
      "a . b b"
      "c d e f"
      "g g g f";
   min-height: 100vh;
   grid-row-gap: 20px;
   grid-column-gap: 20px;
}

article, aside, section, main {
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu1 {
   grid-area: a;
   background: #de0a7e;
   color: white;
}

.menu2 {
   grid-area: b;
   background: yellow;
   color: #444;
}

article {  background: #00a4cf; color: white;}
.card1 { grid-area: c; }
.card2 { grid-area: d; }
.card3 { grid-area: e; }

main { 
   grid-area: g;
   background: #00a4cf;
   color: white;
}
aside { 
   grid-area: f;
   background: #36353a;
   color: white;
}

@media (max-width: 1024px) {
   .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1.5fr 2fr 5fr 5fr 5fr;
      grid-template-areas:
         "a b"
         "f f"
         "c d"
         "e e"
         "g g";
      grid-row-gap: 20px;
      grid-column-gap: 20px;
   }
}

@media (max-width: 720px) {
   .container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 2fr 2fr 5fr 5fr 5fr 5fr 2fr;
      grid-template-areas:
         "a . ."
         "b b b"
         "c c c"
         "d d d"
         "e e e"
         "g g g"
         "f f f";
      grid-row-gap: 20px;
      grid-column-gap: 20px;
   }
}