@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Comfortaa', cursive;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
    margin: 0px 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#tutorials {
    color: white;
    background-color: #d81159;
}
#homework {
    background-color: #f5f1ed;
}
#values {
    color: white;
    background-color: #69b578;
}
#inspiration {
    background-color: #f18f01;
    color: #fff;
}


section {
    /* border: solid 1px #000; */
    min-height: 100vh;
}

h2 {
    margin: 0px;
    height: 110px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: flex-end;
    padding: 20px;
    margin-bottom: 20px;
}

/* @media screen and (max-width: 1000px){
    main {
        grid-template-columns: 1fr 1fr;
    }
    section {
        height: auto;
        min-height: 40vh;
    }
} */

.fa-solid {
    font-size: 40px;
    margin-left: 10px;
}

@media screen and (max-width: 1000px){
    main {
        grid-template-columns: 1fr;
    }
    section {
        height: auto;
        min-height: 40vh;
    }

    h2 {
        background: none;
    }
}

